@charset "UTF-8";

html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgb(200, 200, 200);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

header {
  display: table;
  margin: 0;
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: rgb(53, 172, 240, 0.5);
  color: rgba(74, 74, 74, 1);
}

header span {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  font-size: 60px;
}

#wrapper {
  background-image: url('/src/bg.JPG');
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  text-align: center;
}

#wrapper div#gallery {
  display: block;
  padding: 0;
  margin: 0;
}

#wrapper div#gallery img {
  height: auto;
  margin: 10px;
  width: 60%;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 28px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px -6px rgba(0,0,0,0.75);
}
