@charset "UTF-8";

html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgb(200, 200, 200);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

header {
  display: table;
  margin: 0;
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: rgb(53, 172, 240, 0.5);
  color: rgba(74, 74, 74, 1);
}

header span {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  font-size: 60px;
}

#wrapper {
  width: 100%;
  background-color: rgb(146, 17, 223);
}

#wrapper div#gallery {
  background-color: #b9bb9e;
  display: block;
  padding: 0;
  margin: 0;
}

#wrapper div#gallery img {
  height: auto;
  width: 50%;
  padding: 0;
  margin: 0;
  transform: scale("2");
}
